{% extends 'base_admin.html' %}
{% block main %}
	<div class="row">
    <div class="col-8 mt-2 mx-auto">
        <h3>Kategooria detailne vaade{{ category.name }}</h3>
        <table class="table table-bordered">
            <tr>
                <td>Katekooria number</td>
                <td>{{ category.number }}</td>
            </tr>
            <tr>
                <td>Kategooria nimi</td>
                <td>{{ category.name }}</td>
            </tr>
        </table>
        <p class="text-end">
            <a href="{% url 'app_admin:category_list' %}">Kategooria nimekiri</a>
        </p>
    </div>
    </div>
{% endblock %}